.header_footer_style {
  background: #000 !important;
  color: #C7C7C7 !important;
}
.pd_bottom8 {
  padding-bottom: 8px;
}
.txt_align_left {
  text-align: left;
}
.txt_align_right {
  text-align: right;
}
.name_heading {
  text-align: center;
  margin-top: 62px;
}
.sub_heading {
  font-family: sans-serif;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  color: #C7C7C7;

}
.first_name {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bolder;
  text-align: left;
  color: #C7C7C7;

}
.last-name {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bolder;
  margin-top: -10px;
  text-align: left;
  color: #C7C7C7;
}
.pd_top36 {
  padding-top: 36px;
}
.style_connect {
  background: #fddb3a;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bolder;
  text-align: left;
  margin-top: 56px;
  padding: 6px;
  color: #333;
}
.social_section {
  padding-top: 24px;
  margin-bottom: 20px;
}
.social_icon {
  font-size: 32px;
  padding-right: 24px;
  cursor: pointer;
}
.linkedIn_padding {
  padding-left: 120px;
}

.company_style {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  color: #C7C7C7;

}
.color_white {
  color: #808080;
}
.divider_style {
  height: 70px !important;
  background: #fff;
}
.sub_headings {
  margin-top: 0px;
}
.focused_on {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  color: #C7C7C7;

}

.about_contents {
  color: #808080;
  font-size: 16px;
  margin-top: 8px;
}
.divider_about {
  height: 200px !important;
  background: #fff;
}
.tag_section {
  color: #333;
  margin-top: 8px;
}
.tag_style {
  font-size: 24px !important;
  padding: 10px !important;
  color: #333 !important;
  font-weight: bolder;
  margin-bottom: 15px !important;
}
.mg_top32 {
  margin-bottom: 32px;
}
.mg_top_20 {
  margin-top: 20px;
}
.card_projects {
  width: 500;
  cursor: pointer;
  margin-bottom: 18px;
  background: #202020 !important;
  border-color: #202020 !important;
}

@media screen and (max-width: 320px) and (min-width: 200px) {
  .name_heading {
    margin-top: 0px;
    min-height: 100vh;
  }
  .style_connect {
    margin-top: 16px;
  }
  .pd_bottom8 {
    margin-top: 8px;
  }
  .sub_heading {
    margin-top: 10px;
  }
  .sub_headings {
    margin-top: 20px;
  }
}
@media screen and (max-width: 450px) and (min-width: 200px) {
  .name_heading {
    margin-top: 0px;
    min-height: 80vh;
  }
  .pd_bottom8 {
    margin-top: 8px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 10px;
  }
  .sub_headings {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .name_heading {
    margin-top: 0px;
    min-height: 60vh;
  }
  .pd_bottom8 {
    margin-top: 8px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 10px;
  }
  .sub_headings {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .linkedIn_padding {
    padding-left: 8px !important;
  }
  .pd_bottom8 {
    margin-top: 8px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 10px;
  }
  .sub_headings {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1140px) and (min-width: 1025px) {
  .linkedIn_padding {
    padding-left: 120px !important;
  }
  .pd_bottom8 {
    margin-top: 8px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 8px;
  }
  .sub_headings {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1141px) {
  .linkedIn_padding {
    padding-left: 100px !important;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 0px;
  }
  .sub_headings {
    margin-top: 0px;
  }
  .pd_bottom8 {
    margin-top: 8px;
  }
}
@media screen and (max-width: 2560px) and (min-width: 1801px) {
  .linkedIn_padding {
    padding-left: 12vw !important;
  }
  .style_connect {
    margin-top: 16px;
  }
  .pd_bottom8 {
    margin-top: 8px;
  }
  .sub_heading {
    margin-top: 10px;
  }
  .sub_headings {
    margin-top: 20px;
  }
}
