.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.abc {
  font-family: sans-serif;
  font-size: 24px;
  background: #aaa;
  text-align: left;
}
.name_heading {
  text-align: center;
  margin-top: 62px;
}
.style_connect {
  background: #fddb3a;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bolder;
  text-align: left;
  margin-top: 56px;
  padding: 6px;
  color: #333;
}
.linkedIn_padding {
  padding-left: 120px;
}
.sub_heading {
  margin-top: 0px;
}
@media screen and (max-width: 320px) and (min-width: 200px) {
  .name_heading {
    margin-top: 0px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 10px;
  }
}
@media screen and (max-width: 450px) and (min-width: 200px) {
  .name_heading {
    margin-top: 0px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .name_heading {
    margin-top: 0px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .linkedIn_padding {
    padding-left: 8px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1140px) and (min-width: 1025px) {
  .linkedIn_padding {
    padding-left: 120px;
  }
  .style_connect {
    margin-top: 16px;
  }
  .sub_heading {
    margin-top: 10px;
  }
}
