.abc {
  font-family: sans-serif;
  font-size: 24px;
  background: #aaa;
  text-align: left;
}
.name_heading {
  text-align: center;
  margin-top: 62px;
}
.style_connect {
  background: #fddb3a;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bolder;
  text-align: left;
  margin-top: 56px;
  padding: 6px;
  color: #333;
}
.linkedIn_padding {
  padding-left: 120px;
}
.sub_heading {
  margin-top: 0px;
}

.content_style {
  background: #111111;
  color: #fff;
  min-height: 90vh
}

.company_info-section {
  font-family: sans-serif;
  font-size: 24px;
  margin-top: 62px;
}
